<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Edit your Listing</h3>
            <form method="post" action="/listing/<%=listing._id%>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3 mt-2">
                    <label for="title" class="form-label">Title:</label>
                    <input name="title" type="text" class="form-control" id="title" value="<%=listing.title%>" required>
                    <div class="invalid-feedback">
                        Please enter a correct title.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea id="description" name="description" class="form-control" placeholder="Description" required><%=listing.description%></textarea>
                    <div class="invalid-feedback">
                        Please enter a correct description.
                    </div>
                </div>
                <div class="mb-3">
                    <p>Original listing image:</p>
                    <img src="<%=originalImageUrl%>" alt="listing image">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Upload new Image</label>
                    <input name="image" class="form-control" id="image" type="file">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label class="form-label" for="price">Price:</label>
                        <input name="price" id="price" value="<%=listing.price%>" placeholder="Price" class="form-control" type="number" required>
                        <div class="invalid-feedback">
                            Please enter a correct price.
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label class="form-label" for="country">Country:</label>
                        <input name="country" placeholder="Country" value="<%=listing.country%>" class="form-control" type="text" required>
                        <div class="invalid-feedback">
                            Please enter a correct country.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location:</label>
                    <input name="location" placeholder="Location" id="location" value="<%=listing.location%>" class="form-control" type="text" required>
                    <div class="invalid-feedback">
                        Please enter a correct location.
                    </div>
                </div>
                <button class="btn btn-dark edit-btn mt-3">Edit</button>
            </form>
        </div>
    </div>
</body>
